@charset 'utf-8';

/**************************

++++++ Desktop+ ++++++

**************************/
@media all and (max-width: 1440px) {
    .main-nav {
        width: 80%;
    }
}

/**************************

++++++ Desktop ++++++

**************************/
@media all and (max-width: 1080px) {
    .main-headline h2 {
        font-size: 52px;
    }
    
    .main-nav {
        width: 100%;
    }
}
    
/**************************

++++++ Mobile version ++++++

**************************/

@media all and (max-width: 850px) {
    .wrapper {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        
        margin: 0;
    }
    
    .login-images {
        display: none;
    }
    
    .main-headline h2 {
        display: none;
    }
    
    .main-nav ul {
        flex-flow: column nowrap;
        align-items: center;
    }

/**************************

++++++ Main order of elements in mobile version ++++++

**************************/
    
    .login {
        order: 1;
    }
    
    .login-form {
        flex-flow: column nowrap;
    }
    
    .login-form input[type="text"], .login-form input[type="password"] {
        width: 100%;
    }
    
    .login-form input[type="submit"] {
        width: 100%;
    }
    
    .logo {
        order: 3;
    }
    
    .image-slider {
        order: 2;
        width: 100%;
        padding: 2%;
        left: 0;
        bottom: 0;
        background-color: #dedede;
        color: #787;
        font-size: 14px;
        line-height: 18px;
        border-bottom: 4px solid #cdcdcd;
    }
    
    .flexslider {
        margin-bottom: 0;
    }
    
    .flex-caption {
      display: none;
    }
    
    .flex-control-paging li a {
        display: none;
    }
    
    .main-content {
        order: 4;
    }

/**************************

++++++ Footer layout in mobile version ++++++

**************************/
    
    footer {
        order: 5;
        flex-flow: column nowrap;
    }

    .footer-section {
        display: none;
    }
    
    .footer-section:first-child {
        display: block;
        margin: 0;
    }
    
/**************************

++++++ Contact.html ++++++

**************************/
    
/* +++ form inputs in mobile version +++ */
    .form-inputs {
        display: flex;
        flex-flow: column nowrap;
    }
    
    #contactform button {
        background-color: #e68246;    
    }
}