@charset 'utf-8';

@media all and (max-width: 1440px) {
    .main-nav {
        width: 80%;
    }
}

@media all and (max-width: 1080px) {
    .main-headline h2 {
        font-size: 52px;
    }
    
    .main-nav {
        width: 100%;
    }
}
    
@media all and (max-width: 850px) {
    .login-images {
        display: none;
    }
    
    .main-headline h2 {
        display: none;
    }
    
    .main-headline .svg {
        display: block;
    }
    
    .main-nav ul {
        flex-flow: column nowrap;
        align-items: center;
    }
}