@charset 'utf-8';

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #e68246;
    border: none;
}

#tabs-list {
    
}

#tabs-list li a {
    outline: none;
}